@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* Shorthands */
/* lp = landing-page */

*{
    padding:0;
    margin:0
}

body {
    display:grid;
}

section {
    padding:1rem;
    display:grid
}

h1,h2,h3,h4,p {
    font-family: 'Poppins',sans-serif;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
}

h3 {
    font-weight: 600;
    font-size: 30pt;
}


#landing-page {
    background-image: linear-gradient(to bottom right, #2A58CE, #103396 70%);
    min-height:100vh;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    grid-template-areas: 
    'blank blank'
    'text image'
    'button image';
    grid-template-rows: 0.2fr max-content 0.25fr;
    align-content: center;
    color:rgb(255, 255, 255);
}

.lp-text-wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    grid-area:text
}


.lp-text-wrapper h1 {
    font-size: 45px;
    width: 20ch;
    font-weight:900;
    text-transform: uppercase;
}

.lp-text-wrapper p {
    font-size: 18px;
     width: 30ch;
     font-weight: 400;
}

.navbar {
    display: flex;
    align-items: center;
    justify-self: center;
    position:fixed;
    width:100%;
    top:0;
    margin-bottom:1rem;
    padding: 1rem;
    justify-content: space-evenly;
}

.navbar a {
    text-decoration: none;
    color:#fff;
    font-family: 'Noto Sans', sans-serif;
}

.menu-wrapper a {
    margin-left:1rem;
    font-size:1.2rem
}

.navbar a:hover {
    color:rgb(203, 203, 203)
}

.navbar a>h2{
    color:#fff
}

#lp-img {
    aspect-ratio: 4/3;
    width:300px;
    grid-area:image;
    border-radius: 20px;
    box-shadow: 10px 10px 26px  #1158AC, -20px -18px 0px #1158AC;
}

#lp-button {
    background-color: transparent;
    border:2px solid white;
    border-radius: 15px;
    width:fit-content;
    padding: 1rem;
    font-size: 1.5rem;
    color:white;
    grid-area:button;
    margin-left: 1rem;
}